.squadInfo {
  display: flex;
  flex-direction: row;
  /* margin-top: 3%; */
}
.leader {
  width: 40%;
  padding: 5% 10%;
  line-height: 25px;
}
.leader p {
  font-size: 19px;
  line-height: 25px;
}
.leaderName {
  float: right;
}
.squadImg {
  width: 60%;
  padding-bottom: 0;
  /* margin-top: -10%; */
  z-index: -5;
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}
.centerImg {
  width: 60%;
  height: auto;
  z-index: -1;
}
.rightImg,
.leftImg {
  width: 30%;
  height: auto;
  z-index: -5;
}
.rightImg {
  position: relative;
  left: -80px;
}
.leftImg {
  position: relative;
  left: 80px;
}
