.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.logoNav {
  /* margin: 5%; */
  margin-top: 3%;
  margin-left: 12%;
}
.navImg {
  width: 40%;
  height: auto;
  /* filter: invert(100%); */
}
.factionsNav {
  display: flex;
  margin-top: 6%;
  margin-right: 10%;
  width: auto;
}
.factionsNav li {
  padding-right: 3%;
  cursor: pointer;
  height: 20px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 20%;
}
.factionsNav li:hover {
  color: #008fb9;
}
